.centerblock__filter {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
  }
  
  .filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }

  .filter__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
  }
  
  .filter__counter {
    width: 26px;
    height: 26px;
    color: #fff;
    background-color: #ad61ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: 9px;
  }
  
  .filter__list_block {
    position: absolute;
    top: 50px;
    width: 248px;
    height: 305px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .filter__content,
  .filter__content_year {
    position: absolute;
    top: 50px;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease max-height;
    z-index: 4;
    width: 248px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 0;
  }
  
  .filter__content_show,
  .filter__content_show_year {
    max-height: 305px;
    transform: padding 1s ease;
  }
  
  .filter__content_year {
    width: 144px;
  }
  
  .filter__content_show_year {
    width: 144px;
  }
  
  .filter__block {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .filter__list_menu,
  .filter__list_menu_year {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 28px;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    overflow-x: hidden;
    scrollbar-color:#fff #4b4949;
    width: 180px;
    height: 237px;
  }
  
  .filter__list_menu_year {
    width: 100px;
  }
  
  .filter__list_menu a {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .filter__list_menu a:active,
  .filter__list_menu a:hover {
    color:  #b672ff;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .filter__list_menu::-webkit-scrollbar {
    width: 4px;
  }
  
  .filter__list_menu::-webkit-scrollbar-track {
    background-color: #4b4949;
  }
  
  .filter__list_menu::-webkit-scrollbar-thumb {
    background-color:#fff;
    border-radius: 2px;
    border: 2px solid #fff;
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    width: 144px;
  }
  
  .filter__button:not(:last-child) {
    margin-right: 10px;
  }
  
  ._btn__text:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    transition:
    color 0.3s ease,
    border-color 0.3s ease;
    cursor: pointer;
  }
._btn__text:active,
._btn__text_active  {
    border-color: #ad61ff;
    color: #ad61ff;
    transition:
    color 0.3s ease,
    border-color 0.3s ease;
    cursor: pointer;
  }